/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require reset
 */

 
 body {
   font-family: roboto, sans-serif;
   margin: 0 auto;
 }
 h1 {
   font-size: 3em;
   text-align: center;
   margin-top: 30px;
   font-weight: bold;
   color: #252525;
 }
 .button-tweet {
  padding: 5px;
  display: inline-block;
  background-color: whitesmoke;
  border: 1px solid #252525;
  text-decoration: none;
  color: #252525;
  border-radius: 5px;
  margin-left: 5px;
 }

 .button-tweet:hover {
  background-color: grey;
 }
