<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<<table>
  <thead>
    <tr>
      <th>Publication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= render 'form', tweet: @tweet %>

  <tbody>


    <%
=begin%>
 <% @tweets.each do |tweet| %> 
 funcionou a linha 24 graças ao joao
<%
=end%>
    <% @tweets.reverse_each do |tweet| %>
      <tr>
        <td><%= tweet.publication %></td>
        <td class="button-tweet"><%= link_to 'Show', tweet %></td>
        <td class="button-tweet"><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td class="button-tweet"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class="date-tweet"><%= tweet.updated_at %></td> 
        <%
=begin%>
  linha 30 é ajuda do renato
<%
=end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
>
<%= link_to 'New Tweet', new_tweet_path %>
